*{
	padding:0px;
	margin:0px;
	font-family: Arial;
}
/*div{
	border: 1px solid red;
}*/
a, a:visited, a:link{
	color: #0381bc;
}
.clear{
	clear: both;
}
.button-style-1{
	background: rgb(0,183,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,74,193,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,74,193,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,74,193,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,74,193,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,74,193,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,74,193,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#004ac1',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.button-style-2{
	background: rgb(254,160,64); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,160,64,1) 0%, rgba(230,73,6,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,160,64,1)), color-stop(100%,rgba(230,73,6,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,160,64,1) 0%,rgba(230,73,6,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,160,64,1) 0%,rgba(230,73,6,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,160,64,1) 0%,rgba(230,73,6,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,160,64,1) 0%,rgba(230,73,6,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea040', endColorstr='#e64906',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.button-style-3{
	background:#104b73;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.button-style-4{
	background: rgb(191,210,85); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.wrapper{
	margin: 0px auto;
	width: 980px; 
}
.logo{
	float: left;
	padding: 30px 0px 30px 10px;
}
	.logo h1{
		padding: 0px;
		margin: 0px;
		display: inline;
	}
	.logo img{
		width: 67px;
		height: 28px;
	}
	.logo span.main-title-1{
		color:#808082;
	}
	.logo span.main-title-2{
		color:#0381bc;
	}
.nav{
	height: 28px;
	float: right;
	margin-right: 60px;
}
	.nav ul{
		float:left;
		background: #f9f9f9;
		border: 1px solid #949ea0;
		border-bottom-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		padding: 0px 10px 10px 10px;
	}
	.nav ul li{
		list-style-type: none;
		display:inline;
		padding: 0px 10px;
		border-right: 1px solid black;
	}
	.nav ul li a, .nav ul li a:link, .nav ul li a:visited{
			color: #949ea0;
			text-decoration: none;
			font-size: 10pt;	
	}
	.nav ul li:last-child{
		border: 0;
	}
	.nav a.login{
		text-align: center;
		float:left;
		width: 60px;
		padding: 5px;
		margin-left: 30px;
		color: white;
		text-decoration: none;
		font-size: 10pt;
	}

.banner{
	margin: 0px auto;
	height: 50px;
	background: .1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #0075d6 50%, #026fc9 51%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,.1e5799), color-stop(50%,#0075d6), color-stop(51%,#026fc9), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#0075d6 50%,#026fc9 51%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#0075d6 50%,#026fc9 51%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#0075d6 50%,#026fc9 51%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#0075d6 50%,#026fc9 51%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}
	.banner h2{
		padding: 10px 0px 0px 10px;
		margin: 0px;
		color: white;
	}
.main-content{
	margin-top: 20px;
	width: 950px;
}
.info-panel{
	margin: 0px 10px 0px 0px;
	width: 200px;
	float: left;
	min-height: 300px;
}
.flash-panel{
	border-bottom: 2px solid .cecece;
	padding-bottom: 10px;
}
	.flash-panel h3{
		margin-top: 40px;
		color:#0381bc;
		font-size: 11pt;
	}
	.flash-panel h4{
		margin-top: 10px;
		color:#ed3c13;
		font-size:9pt;
	}
	.flash-panel p{
		margin-top: 5px;
		font-size: 9pt;
	}
	.flash-panel a.demo-button, .flash-panel a:link.demo-button, .flash-panel a:visited.demo-button{
		display: block;
		text-align: center;
		color: white;
		font-weight: bold;
		padding: 6px 0px;
		margin-top: 20px;
		color: white;
		text-decoration: none;
	}	
	.flash-panel a.trial-button, .flash-panel a:link.trial-button, .flash-panel a:visited.trial-button{
		display: block;
		text-align: center;
		color: white;
		font-weight: bold;
		padding: 6px 0px;
		margin-top: 5px;
		color: white;
		text-decoration: none;
	}	
	.flash-panel p.credit-message{
		text-align: center;
	}	
.adwrds{
	margin-top: 20px;
	width: 199px;
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
}
	.adwrds h3, .adwrds h4, .adwrds p{
		margin: 0px;
		padding: 0px;
	} 
.adwrds-box{
	padding: 10px;
	width: 179px;
	box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
	-webkit-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
	-moz-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
}
	.adwrds-box h3{
		color:#0381bc;
		font-size: 12pt;
	}
	.adwrds-box p{
		margin: 5px 0px;
		color:#0381bc;
		font-size: 10pt;
	}
	.adwrds-box a.graded-button, .adwrds-box a:link.graded-button, .adwrds-box a:visited.graded-button{
		display: block;
		text-align: center;
		color: white;
		padding: 6px 0px;
		margin-top: 20px;
		color: white;
		text-decoration: none;
	}	
	.adwrds-box .graded-button a, .adwrds-box .graded-button a:link, .adwrds-box .graded-button a:visited{

	}
	.adwrds-box .arrow1{
		color: #5187ab;
	}
	.adwrds-box .arrow2{
		color: #a6bdcb;
	}
	.adwrds-box .arrow3{
		color: white;
	}
.ruler-image{
	width: 199px;
	height: 72px;
}
	.ruler-image img{
		width: 199px;
		height: 72px;
	}
.page-content{
	min-height: 600px;
	margin: 0px 0px 0px 40px;
	float:left;
	width: 700px;
}
.page-content p, .page-content ul li{
	font-size: 10pt;
}
.page-content ul li{
	color: #0381bc;
}
.page-content ul li span.list-ppc{
	color: black;
}
.info-bar{
	border-bottom: 2px solid .cecece;
	padding-bottom: 10px;
}
.breadcrumbs{
	float: left;
}
	.breadcrumbs img.home-icon{
		width: 18px;
		height: 19px;
	}
	.breadcrumbs span.crumb-advance{
		color: #949ea0;
		font-size: 24px;
	}
	.breadcrumbs span.crumb-text{
		color: #0381bc;
	}

.contact{
	float: right;
}
.contact-image{
	width: 18px;
	height: 36px;
	float: left;
}
	.contact-image img{
		width: 18px;
		height: 36px;
	}
.contact-info{
	float:left;
	margin-left: 10px;
}
	.contact-info p{
		color:#949ea0;
		font-size: 10pt;
	}
	.contact-info p.phone-number{
		font-size: 18pt;
		color: #2bb2e9;
	}
.page-description{
		margin-top: 10px;
}
	.page-description h2, .page-description h3{
		color: #0381bc;
	}
	.page-description h3{
		margin-top: 20px;
	}
	.page-description .ppc-title{
		font-weight: bold;
	}
	.page-description p {
		margin: 20px 0px;
	}
	.page-description ul{
		margin-left: 15px;
	}
	.page-description ul li{
		list-style-type: square;
		line-height: 1.4;
		margin: 5px 0px;
	}
.profit-box{
	padding: 5px;
	border: 5px solid #85bad9;
}
.profit-image{
	float: left;
	width: 54px;
	height: 77px;
}
.profit-image img{
	width: 54px;
	height: 77px;
}
.profit-description{
	margin-left: 70px;
}
	.profit-description h2{
		font-size: 14pt;
	}
	.profit-description p{
		font-size: 12pt;
		padding:0px;
		margin: 5px 0px;
	}
	.profit-description .profit-em{
		font-weight: bold;
	}
	.profit-description a.profit-button, .profit-description a:link.profit-button, .profit-description a:visited.profit-button{
		display: block;
		text-align: center;
		color: white;
		padding: 8px 0px;
		margin-top: 10px;
		color: white;
		text-decoration: none;
		border: 2px solid #598635;
		width: 170px;
	}